syntax: glob
*.mo
*.swp
*.pyc
*.pyo
*.log
*\#
*.\#*
*~
*.orig
bin/
develop-eggs/
etc/
parts/
upgrade.log
sandbox/
.installed.cfg
bootstrap.py
community-addons/
upgrade.py
.settings
anybox.recipe.odoo
venv
.project
.pydevproject
upgrade.log
.hgignore
.idea/
anybox.testing.openerp/
backend_theme/
buildout.dev.cfg
docker-compose.yml
eggs/
nodesource.gpg.key*
