.oe_breadcrumb_title, span.oe_fade, .oe_breadcrumb_item {
    display: inline !important;
}
.openerp .oe_form_sheet_width {
    max-width: 960px;
}

/* force hscroll of kanban dashboard: flex-flow row wrap off */
.o_kanban_view.o_kanban_dashboard {
    -ms-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.oe_kanban_project {
    min-height: 0px !important;
}

/* kanban column */
.o_kanban_group {
    -ms-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0 32px 16px 16px;
    border-right: 1px solid #DDDDDD;
}

.oe_kanban_gravatar {
    float: right;
    padding-left: 0.16em;
}

.at_kanban_ticket_number {
    font-size: 110%;
    padding-right: 0.3em;
    color: #354235;

}
.at_kanban_breadcrumbs {
    display: block;
    line-height: 1em;
    padding-bottom: 3px;

}
.oe_kanban_bottom_left div a img {
    position: absolute;
}
.oe_kanban_bottom_left div span {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0.5em;
    line-height: 1em;
    width: 16px;
    margin-left: -1px;
    text-align: center;
}
.oe_kanban_bottom_left div {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}
.oe_kanban_bottom_left div:first-child {
    margin-right: 0 !important;
}
