.oe_breadcrumb_title, span.oe_fade, .oe_breadcrumb_item {
    display: inline !important;
}
.openerp .oe_form_sheet_width {
    max-width: 960px;
}
.oe_kanban_project {
    min-height: 0px;
}

.oe_kanban_gravatar {
    float: right;
    padding-left: 0.16em;
}

.at_kanban_ticket_number {
    font-size: 110%;
    padding-right: 0.3em;
    color: #354235;

}
.at_kanban_breadcrumbs {
    display: block;
    line-height: 1em;
    padding-bottom: 3px;

}
