.oe_kanban_project {
    min-height: 0px;
}

.oe_kanban_gravatar {
    float: right;
    padding-left: 0.16em;
}

/* the goal is to help distinguish from the title :
   slightly bigger and darker than title's #4C4C4C
   with a barely noticeable touch of green for the optimism */
.at_kanban_ticket_number {
    font-size: 100%;
    padding-right: 0.07em;
    color: #354235;
}
